@model Portifolio.Models.Motorista

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Motorista</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeCompletoMot" class="control-label"></label>
                <input asp-for="NomeCompletoMot" class="form-control" />
                <span asp-validation-for="NomeCompletoMot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpfMot" class="control-label"></label>
                <input asp-for="CpfMot" class="form-control" />
                <span asp-validation-for="CpfMot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefoneMot" class="control-label"></label>
                <input asp-for="TelefoneMot" class="form-control" />
                <span asp-validation-for="TelefoneMot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailMot" class="control-label"></label>
                <input asp-for="EmailMot" class="form-control" />
                <span asp-validation-for="EmailMot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimentoMot" class="control-label"></label>
                <input asp-for="DataNascimentoMot" class="form-control" />
                <span asp-validation-for="DataNascimentoMot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

